
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: #f1f3f6;
  padding: 20px;
}

.auth-box {
  display: flex;
  width: 850px;
  height: 528px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  overflow: hidden;
}

.auth-left {
  background-color: #2874f0;
  color: #fff;
  width: 40%;
  padding: 40px 33px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.auth-left h2 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}

.auth-left p {
  font-size: 18px;
  margin-top: 16px;
  line-height: 150%;
  color: #dbdbdb;
}

.auth-image {
    margin-top: auto;
}
.auth-image img {
    margin-top: 20px;
}

.auth-right {
  width: 60%;
  padding: 56px 35px 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  outline: none;
}

.form-group input:focus {
  border-bottom: 1px solid #2874f0;
}

.terms {
  color: #878787;
  font-size: 12px;
  margin-top: 20px;
}

.auth-btn {
  background: #fb641b;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  border: none;
  color: #fff;
  width: 100%;
  height: 48px;
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 2px;
}

.auth-footer {
  margin-top: auto;
  text-align: center;
  padding-bottom: 20px;
}

.create-account, .existing-user {
  color: #2874f0;
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
}
